.headerContainer {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgba(0, 0, 0, 0.5);
    color: #e1e1e1;

    width: 100vw;
    padding: 1.5rem;

    font-size: 1.2rem;

    span {
        margin-right: 1.5rem;
        padding-right: 1.5rem;
        border-right: 1px solid #e1e1e1;

        display: flex;
        align-items: center;

        img {
            margin-right: 0.5rem;
        }
    }

    div:first-of-type {
        display: grid;
        grid-template-columns: repeat(10, 1fr);

        flex: 1;

        article {
            display: flex;
            justify-self: center;

            border: 1px solid #000;

            width: 2rem;
            height: 2rem;
        }
    }
}

.selected {
    border: 4px solid #000 !important;
    border-radius: 5px;
}
